#component-wrapper{
    border-radius: 10px;
    margin: 10px;
    flex-direction: column;
    background-color: var(--app-gray);
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    box-shadow: 2px 5px 12px rgba(0,0,0,.25);
}

#contact-info{
    flex-direction: column;
}

#user-email{
    font-weight: 100;
    font-style: italic;
}
#user-name{
    font-weight: 700;
    font-size: 1.5rem;
}