#component-wrapper{
    border-radius: 10px;
    margin: 10px;
    flex-direction: column;
    max-width: 33%;
    background-color: var(--app-gray);
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}

#contact-info{
    flex-direction: column;
}

#user-email{
    font-weight: 100;
    font-style: italic;
}
#user-name{
    font-weight: 700;
    font-size: 1.5rem;
}