<app-banner></app-banner>
<div id="details">
    <h1 id="contact-name">{{selectedContact.name}}</h1>
    <div id="info">
        <div class="label-val-wrapper">
            <span class="detail-label">Username:</span>
            <span class="detail-text">{{selectedContact.username}}</span>
        </div>
        <div class="label-val-wrapper">
            <span class="detail-label">Phone Number:</span>
            <span class="detail-text">{{selectedContact.phone}}</span>
        </div>
        <div class="label-val-wrapper">
            <span class="detail-label">Email:</span>
            <span class="detail-text">{{selectedContact.email}}</span>
        </div>
    </div>
</div>

