@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap');

:root{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    --app-blue: #0E3A8B;
    --app-gray: #D9D9D9;

    box-sizing: border-box;
}

html,
body{
    min-width: 100%;
    min-height: 100%;
}

.grid{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3,1fr);
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-only{
    border: none;
    background-color: transparent;
}